<div class="navbar">
  <h2>My Finance</h2>
</div>

<div>
  <div class="toggle-button-row" (click)="toggleSlideOut()">
    <mat-icon>menu</mat-icon>
  </div>
</div>

<div class="slide-out-panel" [class.slide-out]="isSlideOut">
  <ul class="slide-out-content">
    <li class="edit-col" (click)="navigateTo('/my-finance/dashboard')">Dashboard</li>
    <li class="edit-col" (click)="navigateTo('/my-finance/profile')">Profile</li>
    <li class="edit-col" (click)="navigateTo('/my-finance/history')">Prev History</li>
    <li class="edit-col" (click)="navigateTo('/my-finance/login')">Log Out</li>
  </ul>
</div>
