<div class="navbar">
  <h1>My Finance</h1>
</div>

<div class="login-container">
  <!--login-->
  <form *ngIf="activeForm ==='login'" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <div class="form-group">
      <input type="email" formControlName="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" formControlName="password" placeholder="Password">
    </div>
    <button type="submit">Log in</button>
    <p (click)="toggleForm('register')">Don't have an account? <span class="highlighted">Register</span></p> 
  </form>
  <form *ngIf="activeForm === 'register'" [formGroup]="registerForm" (ngsubmit)="onSubmit()">
    <h2>Register</h2>
    <div class="form-group">
      <input type="text" formcontrolname="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="email" formcontrolname="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" formcontrolname="password" placeholder="Password">
    </div>
    <button type="submit">Register</button>
    <p (click)="toggleForm('login')">Already have an account?
      <span class="highlighted">Login</span>
    </p>
  </form>
</div>
